@import './leaflet-draw.scss';

#myMap {
    height: 480px;
    margin-left: 20px;
    padding: 10px;
    width: 480px;
}
.leaflet-container {
    height: 480px;
    margin-left: 20px;
    padding: 10px;
    width: 480px;
}